
/* Tool card */
a {
  /* color: #0060B6; */
  text-decoration: none;
}

a:hover {
  color:#00A0C6; 
  /* text-decoration:none;  */
  cursor:pointer;  
}
/* a i {
  text-decoration:none;
  color: black;
} */
#main {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  
  #main #faq .card {
    margin-bottom: 10px;
    border: 10px;
    box-shadow: 10px;
  }
  
  #main #faq .card .card-header {
    /* border: 2px solid bisque; */
    -webkit-box-shadow: 10px;
            box-shadow: 10px;
    border-radius: 2px;
    padding: 0;
  }
  
  /* fag */
   /* #main #faq .card .card-header .btn-header-link {
    display: block;
    text-align: left;
    background: white;
    color: #222;
    padding: 20px;
    border: 2px solid bisque;
  } */

  .tool-card-header{

     /* text-align: left; */
    /* color: #222; */
    padding: 10px;
    /* border: 2px solid bisque;  */
    text-decoration: none;
    background-color: white;
  }

  .header-icon{
    font-size: 30px;
    margin-right: 10px;
    color:black;
  }

  .list-icon{
    size: 20px;
    text-decoration: none;
  }
  
   /* fag1 */
  /* #main #faq .card .card-header .btn-header-link:after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
  } */
  
  
    .toggleicon {
      float: right;
      font-size: 20px;
      color: gray;
      display: flex;
  } 
  
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  }
.catagory-link{
  text-decoration: none;
  /* content: "\f107"; */
  font-family: 'Font Awesome 5 Free';
  font-weight: 300;
}

.card-main{
  margin-top: 50px;
}
.general-card-li{
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  /* margin-right: 50px; */
}

.general-info-ul{
list-style-type: none;
margin-left:0px;
padding: 0;
}
.card-content{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin: 0;
  padding: 0;

  }
.card-content li{
  margin-left: 20px;
  margin-top: 3px;
}

.card-tool{
border-radius: 0;

}

/* @media only screen and (max-width: 1500px) {
  .card-tool {
   width: 1200px;
   margin-left: 200px;
  }
} */












