
.span{

    background: red;
    font-size: large;
    color: white;
}

.lable{
margin-right: 250px;
position: relative;
text-align: center;
}
.input-div{
    display: grid;
    justify-content: center;
    padding: 10px;

}

    .btn-login{
        margin-top: 30px;
        width: 270px;
        display: grid;
        justify-content: center;
        padding: 10px;
    }
    input:focus {
        outline: none !important;
    }
    .btn-reset{
        /* margin-top: 50px; */
        text-align: center;
        text-decoration: none;
        color: black;

    }

    .error{
    text-align: center;
    background-color: #ff726f;
    color: white;
    /* margin-left: 170px; */
    }
    .img-tag{
        height: 50px;
        width: 250px;
        margin-top: 50px; 
        text-align: center;
        margin-left: 10px;
    }
    .offscreen{
        display: none;
    }

    .input-form{
   width: 320px;
    }